* { border:none; padding:0; margin:0; font-family:Arial; }

body { background:#000; }

#songHistory { width: 780px; }
#content { margin:20px auto; width:800px; position:relative; }
#StationOnline { display: block; }
#player { background:#F0F0F0; float:left; clear:left; width:500px;
          height:420px; text-align:left; font-family:Arial;}
#subplayer { padding:6px; float:left; clear:left; width:488px; }
#playerTop {background:#F0F0F0; float:left; clear:left; width:500px;
            height:420px; text-align:left; font-family:Arial;}
#player2 {padding:6px; float:left; clear:left; width:488px}
#MainTitle {color:#AF7B00; font-weight:bold; font-size:16px;
                 text-align:left; width:100%; float:left; margin-bottom:0px; }
#SongTitleDiv {color:#333; line-height:20px; padding:10px 0; font-size:14px;
		               width:490px; font-weight:bold; border:none; background:none;
                   float:right; clear:right;}
#ListenersDiv {color:#666; line-height:14px; font-size:12px;}

#inner { background:#F0F0F0; padding:20px;  float:left; clear:left; width: 770px; }

#footer { margin-top:10px; color:#CCC; font-size:12px; }

#footer  a { color:#CCC; font-weight:bold; }

#logo { background:url(../images/background_body.jpg) repeat-x; float:left; clear:left; width:500px; height:20; padding:20px; }

/*
#tunein { border-top:2px solid #333; padding-top:10px; margin-top:10px;}

#tunein span { float:left; clear:left; width:70px; color:#333; font-size:14px; font-weight:bold; line-h
eight:26px;  } */

